
.parent {
    width: 300px;
    height: 600px;
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
    animation-duration: 7s;
    animation-name: parent;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;



}

@keyframes parent {
    from {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.child2 {
    background: blue;
    font-size: 50px;
    color: white;
    text-align: center;
    width: 200px;
    height: 200px;
    position: relative;
    top: -4%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation-duration: 7s;
    animation-name: child2;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;

}

.child2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform: translateZ(1px);
    background: #1a26ff;

}


@keyframes child2 {
    0% {
        transform: rotateZ(0deg) translateZ(-100px);
    }
    50% {
        transform: rotateZ(-180deg);
    }
    100% {
        transform: rotateZ(-360deg) translateZ(-100px);
    }
}

.child1 {
    background: #ff1010;
    font-size: 50px;
    color: white;
    text-align: center;
    width: 200px;
    height: 200px;
    position: relative;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation-duration: 7s;
    animation-name: child1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;

}

.child1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform: translateZ(-1px);
    background: red;

}


@keyframes child1 {
    0% {
        transform: rotateZ(0deg) translateZ(100px);
    }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg) translateZ(100px);
    }
}




